<!DOCTYPE html>
<html lang="zh">

<head>
    <!-- 关联 http 头部 -->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <!-- viewport宽度等于设别宽度 初始缩放比例 1 是否允许用户缩放 否  -->
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />

    <!-- 字符编码为 UTF-8 -->
    <meta charset="UTF-8">

    <title> 淘助理</title>
    <meta name="keywords" content="淘助理" />
    <meta name="description" content="淘助理" />

    <!-- 格式检测 -->
    <meta name="format-detection" content="telephone=no, email=no" />

    <!-- 内核设置 -->
    <meta name="renderer" content="webkit">
    <link rel="icon" href="../images/favicon.png" type="image/x-icon" />
    <!-- 指定渲染引擎 -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

    <link rel="stylesheet" href="../images/assistant.css">
    <link rel="stylesheet" href="../images/iconfont/iconfont.css">

    <script src="../images/js.cookie.min.js"></script>
    <script src="../images/md5.js"></script>
    <script src="../images/polyfill.js"></script>
    <script src="../images/axios.js"></script>
    <script src="../images/velocity.min.js"></script>
    <script src="../images/vue.js"></script>
</head>

<body>
    <!-- 内容主体   start -->
    <div class="main_body">
        <div class="main_container js_main_container" v-cloak>
            <!-- 左  start -->
            <div class="left">
                <span class="logo_box">
                    <img class="logo" src="../images/logo.png">
                    <img class="txt" src="../images/title.png">
                </span>
                <ul class="btn_box">
                    <li class="btn" v-for="btn in btns">
                        <span class="name" v-bind:class="{btn_selected:btn.is_select}">
                            <i class="iconfont" v-bind:class="btn.icon_class"></i>
                            <span class="txt">{{btn.name}}</span>
                        </span>
                    </li>
                </ul>
            </div>
            <!-- 左   end -->
            <!-- 右   start -->
            <div class="right">
                <!-- 商品管理  start -->
                <div class="container" v-show="btns[0].is_select">
                    <div class="header">
                        <span class="location">
                            <i class="iconfont icon-statsbars2"></i>
                            <span class="txt">{{btns[0].name}}</span>
                        </span>
                    </div>
                    <div class="content">
                        <ul class="btn_box">
                            <li class="btn">
                                <span class="cover">
                                    <i class="iconfont icon-plus" title="新建更新任务" @click="showUpdateBox"></i>
                                </span>
                            </li>
                            <li class="btn">
                                <span class="cover">
                                    <i class="iconfont icon-bin2" style="font-size: 18px" title="新建清理任务" @click="showCleanBox"></i>
                                </span>
                            </li>
                            <li class="btn filter">
                                <span class="filter_box">
                                    <span class="title">筛选:</span>
                                    <span class="filter_btn" v-for="filter_btn in filter_btns" v-bind:class="{filter_btn_selected:filter_btn.is_select}">
                                        {{filter_btn.name}}
                                    </span>
                                </span>
                            </li>
                            <li class="btn sort">
                                <span class="sort_box">
                                    <span class="title">排序:</span>
                                    <span class="sort_btn" v-for="sort_btn in sort_btns">
                                        {{sort_btn.name}}
                                    </span>
                                </span>
                            </li>
                        </ul>
                    </div>
                    <!-- 更新任务   start -->
                    <transition name="show_layer">
                        <div class="update_box cant_select_txt" v-show="is_show_update_box">
                            <span class="title_box">
                                <span class="title">新建更新任务</span>
                                <i class="iconfont icon-cross" @click="cancelUpdate"></i>
                            </span>
                            <span class="data_origin">
                                <span class="origin">
                                    <span class="title">请选择数据源</span>
                                    <span class="btn_box">
                                        <span class="origin_btn" v-for="origin_btn in update_origin" @click="selectUpdateItem(origin_btn.index)">
                                            <i class="iconfont " v-bind:class="{'icon-checkboxunchecked':!origin_btn.is_select,'icon-checkboxchecked':origin_btn.is_select}"></i>{{origin_btn.name}}
                                        </span>
                                    </span>
                                </span>
                                <span class="clean">
                                    <span class="title">清理</span>
                                    <span class="btn_box">
                                        <span class="btn" @click="cleanBeforeUpdate">
                                            <i class="iconfont" v-bind:class="{'icon-checkboxunchecked':!is_clean,'icon-checkboxchecked':is_clean}"></i>
                                            更新前首先清理数据
                                        </span>
                                    </span>
                                </span>
                            </span>
                            <span class="confirm_box">
                                <span class="btn">确认</span>
                                <span class="btn" @click="cancelUpdate">取消</span>
                            </span>
                        </div>
                    </transition>
                    <!-- 更新任务   end -->
                    <!-- 清理任务   start -->
                    <transition name="show_layer">
                        <div class="clean_box update_box cant_select_txt" v-show="is_show_clean_box">
                            <span class="title_box">
                                <span class="title">新建清理任务</span>
                                <i class="iconfont icon-cross" @click="cancelClean"></i>
                            </span>
                            <span class="data_origin">
                                <span class="origin">
                                    <span class="title">请选择数据源</span>
                                    <span class="btn_box">
                                        <span class="origin_btn" v-for="origin_btn in clean_origin" @click="selectCleanItem(origin_btn.index)">
                                            <i class="iconfont " v-bind:class="{'icon-checkboxunchecked':!origin_btn.is_select,'icon-checkboxchecked':origin_btn.is_select}"></i>{{origin_btn.name}}
                                        </span>
                                    </span>
                                </span>
                                <span class="clean">
                                    <span class="title">清理</span>
                                    <span class="btn_box">
                                        <span class="btn" @click="updateAfterClean">
                                            <i class="iconfont" v-bind:class="{'icon-checkboxunchecked':!is_update,'icon-checkboxchecked':is_update}"></i>
                                            清理后更新数据
                                        </span>
                                    </span>
                                </span>
                            </span>
                            <span class="confirm_box">
                                <span class="btn">确认</span>
                                <span class="btn" @click="cancelClean">取消</span>
                            </span>
                        </div>
                    </transition>
                    <!-- 清理任务   end -->
                </div>
                <!-- 商品管理 end -->
                <!-- 更新日志   start -->
                <div class="container" v-show="btns[1].is_select">
                    <div class="header"></div>
                    <div class="content">

                    </div>
                </div>
                <!-- 更新日志   end -->
                <!-- 数据来源   start -->
                <div class="container" v-show="btns[2].is_select">
                    <div class="header"></div>
                    <div class="content">

                    </div>
                </div>
                <!-- 数据来源   end -->
            </div>
            <!-- 右   end -->
        </div>
    </div>
    <!-- 内容主体   end -->

    <script src="../images/assistant.js"></script>
</body>


</html>