@charset 'utf-8';

[v-cloak] {
    display: none !important;
}

* {
    margin: 0;
    padding: 0;
    font-family: "微软雅黑";
}

ul,
li {
    list-style: none;
}

.main_body {
    position: absolute;
    width: 100%;
    height: 100%;
    margin: auto;
    min-width: 1200px;
    font-size: 0;
    /* background-color: black; */
}

.main_body>.main_container {
    width: 100%;
    height: 100%;
}

.main_body .main_container>.left {
    display: inline-block;
    width: 15%;
    height: 100%;
    background-color: #323c57;
}

.main_body .main_container>.right {
    display: inline-block;
    width: 85%;
}

/* 左   start */
.main_body .left .logo_box {
    display: block;
    padding: 5px 0;
    text-align: center;
}

.main_body .left .logo_box>.logo {
    display: inline-block;
    width: 50px;
    vertical-align: middle;
}

.main_body .left .logo_box>.txt {
    display: inline-block;
    width: 70px;
    vertical-align: middle;
}

.main_body .left .btn_box {
    height: calc(100% - 80px);
}

.main_body .left .btn_box .btn>.name {
    display: block;
    height: 40px;
    font-size: 0;
    color: #ffffff;
    text-align: center;
    line-height: 40px;
}

.main_body .left .btn_box .btn>.name:hover {
    cursor: pointer;
    background-color: #4d5b85;
}

.main_body .left .btn_box .btn>.name i {
    display: inline-block;
    font-size: 14px;
    line-height: 1;
    vertical-align: middle;
}

.main_body .left .btn_box .btn>.name .txt {
    display: inline-block;
    font-size: 15px;
    margin-left: 10px;
    line-height: 1;
    vertical-align: middle;
}

.btn_selected {
    background-color: #4d5b85;
}

/* 左   end */

/* 右   start */
.main_body .main_container>.right {
    height: 100%;
    vertical-align: top;
}

.main_body .main_container>.right>.container {
    height: 100%;
}

.main_body .right .container>.header {
    position: relative;
    z-index: 999;
    height: 60px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
}

.main_body .right .container>.header .location {
    display: inline-block;
    margin-left: 20px;
    height: 60px;
    line-height: 60px;
}

.main_body .right .container>.header .location i {
    font-size: 16px;
    color: #323f63;
}

.main_body .right .container>.header .location .txt {
    margin-left: 6px;
    font-size: 16px;
    color: #323f63;
}

.main_body .right .container .header .btn_box .btn .container {
    display: block;
    height: 60px;
}

.main_body .right .container .header .btn_box .btn .container>i {
    display: block;
    font-size: 16px;
    color: #4d5b85;
}

.main_body .right .container .header .btn_box .btn .container>i:hover {
    cursor: pointer;
}

.main_body .right .container .content {
    /* padding: 15px; */
    height: calc(100% - 60px);
    /* background-color: #f5f5f5; */
}

.main_body .right .container .content .btn_box {
    height: 40px;
    padding: 0 20px;
    font-size: 0;
    border-radius: 3px;
    line-height: 40px;
    background-color: #ffffff;
}

.main_body .right .container .content .btn {
    display: inline-block;
    margin-left: 20px;
    vertical-align: top;
}

.main_body .right .container .content .btn:first-child {
    margin-left: 0;
}

.main_body .right .container .content .btn>.cover {
    display: block;
    font-size: 0;
}

.main_body .right .container .content .btn>.cover i {
    display: inline-block;
    height: 40px;
    color: #4d5b85;
    line-height: 40px;
}

.main_body .right .container .content .btn>.cover i:hover {
    cursor: pointer;
}

.main_body .right .container .content .filter {
    margin-left: 50px;
}

.main_body .right .container .content .btn .filter_box {
    display: block;
    font-size: 0;
}

.main_body .right .container .content .btn .filter_box>span {
    display: inline-block;
    height: 25px;
    font-size: 15px;
    line-height: 25px;
    vertical-align: middle;
}

.main_body .right .container .content .btn .filter_box .title {
    color: #666666;
}

.main_body .right .container .content .btn .filter_box .filter_btn {
    margin-left: 5px;
    padding: 0 10px;
    color: #555555;
    border-radius: 5px;
}

.main_body .right .container .content .btn .filter_box .filter_btn:hover {
    cursor: pointer;
    color: #ffffff;
    background-color: #323f63;
}

.filter_btn_selected {
    color: #ffffff !important;
    background-color: #323f63;
}

.main_body .right .container .content .sort {
    margin-left: 50px;
}

.main_body .right .container .content .btn .sort_box {
    display: block;
    font-size: 0;
}

.main_body .right .container .content .btn .sort_box>span {
    display: inline-block;
    height: 30px;
    font-size: 15px;
    line-height: 30px;
    vertical-align: middle;
}

.main_body .right .container .content .btn .sort_box .title {
    color: #666666;
}

.main_body .right .container .content .btn .sort_box .sort_btn {
    color: #4d5b85;
    margin-left: 15px;
}

/* 更新任务弹窗   start */
.main_body .right .container .update_box {
    position: fixed;
    z-index: 999;
    top: 50%;
    left: 50%;
    margin-left: -150px;
    margin-top: -100px;
    width: 300px;
    min-height: 50px;
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 1px 1px 50px rgba(0, 0, 0, 0.3);
    background-color: #ffffff;
}

.main_body .right .container .update_box>.title_box {
    position: relative;
    display: block;
    padding: 0 15px;
    font-size: 0;
    text-align: right;
    /* border-radius: 8px 8px 0 0; */
    background-color: #323f63;
}

.main_body .right .container .update_box>.title_box .title {
    display: inline-block;
    width: 256px;
    height: 50px;
    font-size: 15px;
    color: #ffffff;
    text-align: left;
    line-height: 50px;
    vertical-align: middle;
}

.main_body .right .container .update_box>.title_box i {
    display: inline-block;
    height: 40px;
    font-size: 14px;
    color: #ffffff;
    font-weight: lighter;
    line-height: 40px;
    vertical-align: middle;
}

.main_body .right .container .update_box>.title_box i:hover {
    cursor: pointer;
}

.main_body .right .container .update_box .data_origin {
    display: block;
    margin: auto;
    padding-top: 15px;
    border-radius: 1px;
}

.main_body .right .container .update_box .data_origin .title {
    display: block;
    color: #666666;
    font-size: 15px;
}

.main_body .right .container .update_box .data_origin .origin {
    display: block;
    padding: 0 15px;
    font-size: 0;
}

.main_body .right .container .update_box .data_origin .btn_box {
    display: block;
    margin-top: 10px;
}

.main_body .right .container .update_box .data_origin .btn_box>.origin_btn {
    display: inline-block;
    height: 30px;
    margin-left: 15px;
    font-size: 15px;
    color: #323f63;
    text-align: center;
    line-height: 30px;
    border-radius: 3px;
    vertical-align: top;
}

.main_body .right .container .update_box .data_origin .btn_box>.origin_btn i {
    display: inline-block;
    margin-right: 3px;
    font-size: 14px;
    color: #4d5b85;
}

.main_body .right .container .update_box .data_origin .btn_box>.origin_btn:hover {
    cursor: pointer;
}

.main_body .right .container .update_box .data_origin .btn_box>.origin_btn:first-child {
    margin-left: 0;
}

.update_origin_selected {
    color: #ffffff !important;
    background-color: #323c57 !important;
}

.main_body .right .container .update_box .clean {
    display: block;
    margin-top: 15px;
    padding: 0 15px;
}

.main_body .right .container .update_box .clean .btn_box {
    display: block;
    margin-top: 10px;
}

.main_body .right .container .update_box .clean i {
    font-size: 14px;
    color: #4d5b85;
}

.main_body .right .container .update_box .clean .btn {
    font-size: 15px;
    color: #323c57;
}

.main_body .right .container .update_box .clean .btn:hover {
    cursor: pointer;
}

.main_body .right .container .update_box .confirm_box {
    display: block;
    margin-top: 30px;
    font-size: 0;
    padding-bottom: 10px;
    text-align: right;
}

.main_body .right .container .update_box .confirm_box .btn {
    display: inline-block;
    width: 30%;
    height: 35px;
    margin-right: 10px;
    text-align: center;
    font-size: 15px;
    color: #ffffff;
    line-height: 35px;
    border-radius: 5px;
    background-color: #4d5b85;
}

.main_body .right .container .update_box .confirm_box .btn:hover {
    cursor: pointer;
    background-color: #323c57;
}

.show_layer-enter-active {
    animation: layer-in .2s;
}

.show_layer-leave-active {
    animation: layer-in .2s reverse;
}

@keyframes layer-in {
    0% {
        opacity: 0;
        transform: scale(0.8);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}

.cant_select_txt {
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* 更新任务弹窗   end */
/* 日志列表   start */
.main_body .right .container .content .bar {
    display: block;
    font-size: 0;
    background-color: #f4f5fc;
    /* border-top: 1px solid #98a3c2; */
}

.main_body .right .container .content .bar>span {
    display: inline-block;
    height: 30px;
    line-height: 30px;
    text-align: center;
    font-size: 14px;
    color: #323c57;
}

.main_body .right .container .content .id {
    width: 10%;
}

.main_body .right .container .content .type {
    width: 8%;
}

.main_body .right .container .content .obj {
    width: 12%;
}

.main_body .right .container .content .status {
    width: 8%;
}

.main_body .right .container .content .create_time {
    width: 20%;
}

.main_body .right .container .log_list {
    min-height: 400px;
}

.main_body .right .container .log_list>.item {
    font-size: 0;
    border-top: 1px solid #f4f5fc;
}

.main_body .right .container .log_list .item>span {
    display: inline-block;
    height: 40px;
    font-size: 14px;
    color: #323f63;
    text-align: center;
    line-height: 40px;
}

/* 日志列表   end */
/* 右    end */