@charset 'utf-8';

[v-cloak] {
    display: none !important;
}

* {
    margin: 0;
    padding: 0;
    font-family: "微软雅黑";
}

ul,
li {
    list-style: none;
}

.main_body {
    position: absolute;
    width: 100%;
    height: 100%;
    margin: auto;
    min-width: 1200px;
    font-size: 0;
    /* background-color: black; */
}

.main_body>.main_container {
    width: 100%;
    height: 100%;
}

.main_body .main_container>.left {
    display: inline-block;
    width: 15%;
    height: 100%;
    background-color: #323c57;
}

.main_body .main_container>.right {
    display: inline-block;
    width: 85%;
}

/* 左   start */
.main_body .left .logo_box {
    display: block;
    padding: 5px 0;
    text-align: center;
}

.main_body .left .logo_box>.logo {
    display: inline-block;
    width: 50px;
    vertical-align: middle;
}

.main_body .left .logo_box>.txt {
    display: inline-block;
    width: 70px;
    vertical-align: middle;
}

.main_body .left .btn_box {
    height: calc(100% - 80px);
}

.main_body .left .btn_box .btn>.name {
    display: block;
    height: 40px;
    font-size: 0;
    color: #ffffff;
    text-align: center;
    line-height: 40px;
}

.main_body .left .btn_box .btn>.name:hover {
    cursor: pointer;
    background-color: #4d5b85;
}

.main_body .left .btn_box .btn>.name i {
    display: inline-block;
    font-size: 14px;
    line-height: 1;
    vertical-align: middle;
}

.main_body .left .btn_box .btn>.name .txt {
    display: inline-block;
    font-size: 15px;
    margin-left: 10px;
    line-height: 1;
    vertical-align: middle;
}

.btn_selected {
    background-color: #4d5b85;
}

/* 左   end */

/* 右   start */
.main_body .main_container>.right {
    height: 100%;
    vertical-align: top;
}

.main_body .main_container>.right>.container {
    height: 100%;
}

.main_body .right .container>.header {
    position: relative;
    z-index: 999;
    height: 60px;
    box-shadow: 0 0 5px #999999;
    background-color: #ffffff;
}

.main_body .right .container>.header .location {
    display: inline-block;
    margin-left: 20px;
    height: 60px;
    line-height: 60px;
}

.main_body .right .container>.header .location i {
    font-size: 16px;
    color: #323f63;
}

.main_body .right .container>.header .location .txt {
    margin-left: 6px;
    font-size: 16px;
    color: #323f63;
}

.main_body .right .container .header .btn_box .btn .container {
    display: block;
    height: 60px;
}

.main_body .right .container .header .btn_box .btn .container>i {
    display: block;
    font-size: 16px;
    color: #4d5b85;
}

.main_body .right .container .header .btn_box .btn .container>i:hover {
    cursor: pointer;
}

.main_body .right .container .content {
    /* padding: 15px; */
    height: calc(100% - 60px);
    background-color: #f5f5f5;
}

.main_body .right .container .content .btn_box {
    height: 40px;
    padding: 0 20px;
    font-size: 0;
    border-radius: 3px;
    line-height: 40px;
    background-color: #ffffff;
}

.main_body .right .container .content .btn {
    display: inline-block;
    margin-left: 20px;
    vertical-align: top;
}

.main_body .right .container .content .btn:first-child {
    margin-left: 0;
}

.main_body .right .container .content .btn>.cover {
    display: block;
    font-size: 0;
}

.main_body .right .container .content .btn>.cover i {
    display: inline-block;
    height: 40px;
    color: #4d5b85;
    line-height: 40px;
}

.main_body .right .container .content .btn>.cover i:hover {
    cursor: pointer;
}

.main_body .right .container .content .filter {
    margin-left: 50px;
}

.main_body .right .container .content .btn .filter_box {
    display: block;
    font-size: 0;
}

.main_body .right .container .content .btn .filter_box>span {
    display: inline-block;
    height: 30px;
    font-size: 15px;
    line-height: 30px;
    vertical-align: middle;
}

.main_body .right .container .content .btn .filter_box .title {
    color: #666666;
}

.main_body .right .container .content .btn .filter_box .filter_btn {
    margin-left: 5px;
    padding: 0 10px;
    color: #555555;
    border-radius: 5px;
}

.main_body .right .container .content .btn .filter_box .filter_btn:hover {
    cursor: pointer;
    color: #ffffff;
    background-color: #323f63;
}

.filter_btn_selected {
    color: #ffffff !important;
    background-color: #323f63;
}

.main_body .right .container .content .sort {
    margin-left: 50px;
}

.main_body .right .container .content .btn .sort_box {
    display: block;
    font-size: 0;
}

.main_body .right .container .content .btn .sort_box>span {
    display: inline-block;
    height: 30px;
    font-size: 15px;
    line-height: 30px;
    vertical-align: middle;
}

.main_body .right .container .content .btn .sort_box .title {
    color: #666666;
}

.main_body .right .container .content .btn .sort_box .sort_btn {
    color: #4d5b85;
    margin-left: 15px;
}

/* 右    end */