<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.system.dao.GoodsDao">
    <resultMap type="goods" id="goodsMapper">
        <id property="goods_id" column="goods_id"></id>
        <result property="platform_id" column="platform_id"/>
        <result property="seller_id" column="seller_id"/>
        <result property="goods_title" column="goods_title"/>
        <result property="goods_stitle" column="goods_stitle"/>
        <result property="goods_pic" column="goods_pic"/>
        <result property="goods_url" column="goods_url"/>
        <result property="goods_intro" column="goods_intro"/>
        <result property="goods_price" column="goods_price"/>
        <result property="goods_sale" column="goods_sale"/>
        <result property="goods_cid" column="goods_cid"/>
        <result property="commission_rate" column="commission_rate"/>
        <result property="commission_type" column="commission_type"/>
        <result property="coupon_id" column="coupon_id"/>
        <result property="coupon_url" column="coupon_url"/>
        <result property="coupon_price" column="coupon_price"/>
        <result property="after_coupon" column="after_coupon"/>
        <result property="coupon_condition" column="coupon_condition"/>
        <result property="coupon_total" column="coupon_total"/>
        <result property="coupon_rest" column="coupon_rest"/>
        <result property="coupon_use" column="coupon_use"/>
        <result property="coupon_start" column="coupon_start"/>
        <result property="coupon_end" column="coupon_end"/>
        <result property="is_tmall" column="is_tmall"/>
        <result property="is_ju" column="is_ju"/>
        <result property="is_qiang" column="is_qiang"/>
        <result property="is_yun" column="is_yun"/>
        <result property="is_gold" column="is_gold"/>
        <result property="is_ji" column="is_ji"/>
        <result property="is_hai" column="is_hai"/>
        <result property="dsr" column="dsr"/>
    </resultMap>
    <!--检查是否存在商品-->
    <select id="checkGoodsExist" resultType="java.lang.Integer">
        select count(*) from goods_test where goods_id = #{goods_id}
    </select>
    <!--更新商品数据-->
    <update id="updateGoodsData">
        update goods_test
        <trim prefix="set" suffixOverrides=",">
            <if test="platform_id != null">
                platform_id=#{platform_id},
            </if>
            <if test="seller_id != null and seller_id != ''">
                seller_id=#{seller_id},
            </if>
            <if test="goods_title != null and goods_title != ''">
                goods_title=#{goods_title},
            </if>
            <if test="goods_stitle != null and goods_stitle != ''">
                goods_stitle=#{goods_stitle},
            </if>
            <if test="goods_pic != null and goods_pic != ''">
                goods_pic=#{goods_pic},
            </if>
            <if test="goods_url != null and goods_url != ''">
                goods_url=#{goods_url},
            </if>
            <if test="goods_intro != null and goods_intro != ''">
                goods_intro=#{goods_intro},
            </if>
            <if test="goods_price != null">
                goods_price=#{goods_price},
            </if>
            <if test="goods_sale != null">
                goods_sale=#{goods_sale},
            </if>
            <if test="goods_cid != null">
                goods_cid=#{goods_cid},
            </if>
            <if test="commission_rate != null">
                commission_rate=#{commission_rate},
            </if>
            <if test="commission_type != null">
                commission_type=#{commission_type},
            </if>
            <if test="coupon_id != null">
                coupon_id=#{coupon_id},
            </if>
            <if test="coupon_url != null">
                coupon_url=#{coupon_url},
            </if>
            <if test="coupon_price != null">
                coupon_price=#{coupon_price},
            </if>
            <if test="after_coupon != null">
                after_coupon=#{after_coupon},
            </if>
            <if test="coupon_condition != null">
                coupon_condition=#{coupon_condition},
            </if>
            <if test="coupon_total != null">
                coupon_total=#{coupon_total},
            </if>
            <if test="coupon_rest != null">
                coupon_rest=#{coupon_rest},
            </if>
            <if test="coupon_use != null">
                coupon_use=#{coupon_use},
            </if>
            <if test="coupon_start != null">
                coupon_start=#{coupon_start},
            </if>
            <if test="coupon_end != null">
                coupon_end=#{coupon_end},
            </if>
            <if test="is_tmall != null">
                is_tmall=#{is_tmall},
            </if>
            <if test="is_ju != null">
                is_ju=#{is_ju},
            </if>
            <if test="is_qiang != null">
                is_qiang=#{is_qiang},
            </if>
            <if test="is_yun != null">
                is_yun=#{is_yun},
            </if>
            <if test="is_gold != null">
                is_gold=#{is_gold},
            </if>
            <if test="is_ji != null">
                is_ji=#{is_ji},
            </if>
            <if test="is_hai != null">
                is_hai=#{is_hai},
            </if>
            <if test="dsr != null">
                dsr=#{dsr}
            </if>
        </trim>
        where goods_id=#{goods_id}
    </update>
    <!--插入商品数据-->
    <insert id="insertGoodsData">
        insert into goods_test
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="goods_id != null">
                goods_id,
            </if>
            <if test="platform_id != null">
                platform_id,
            </if>
            <if test="seller_id != null">
                seller_id,
            </if>
            <if test="goods_title != null">
                goods_title,
            </if>
            <if test="goods_stitle != null">
                goods_stitle,
            </if>
            <if test="goods_pic != null">
                goods_pic,
            </if>
            <if test="goods_url != null">
                goods_url,
            </if>
            <if test="goods_intro != null">
                goods_intro,
            </if>
            <if test="goods_price != null">
                goods_price,
            </if>
            <if test="goods_sale != null">
                goods_sale,
            </if>
            <if test="goods_cid != null">
                goods_cid,
            </if>
            <if test="commission_rate != null">
                commission_rate,
            </if>
            <if test="commission_type != null">
                commission_type,
            </if>
            <if test="coupon_id != null">
                coupon_id,
            </if>
            <if test="coupon_url != null">
                coupon_url,
            </if>
            <if test="coupon_price != null">
                coupon_price,
            </if>
            <if test="after_coupon != null">
                after_coupon,
            </if>
            <if test="coupon_condition != null">
                coupon_condition,
            </if>
            <if test="coupon_total != null">
                coupon_total,
            </if>
            <if test="coupon_rest != null">
                coupon_rest,
            </if>
            <if test="coupon_use != null">
                coupon_use,
            </if>
            <if test="coupon_start != null">
                coupon_start,
            </if>
            <if test="coupon_end != null">
                coupon_end,
            </if>
            <if test="is_tmall != null">
                is_tmall,
            </if>
            <if test="is_ju != null">
                is_ju,
            </if>
            <if test="is_qiang != null">
                is_qiang,
            </if>
            <if test="is_yun != null">
                is_yun,
            </if>
            <if test="is_gold != null">
                is_gold,
            </if>
            <if test="is_ji != null">
                is_ji,
            </if>
            <if test="is_hai != null">
                is_hai,
            </if>
            <if test="dsr != null">
                dsr,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="goods_id != null">
                #{goods_id},
            </if>
            <if test="platform_id != null">
                #{platform_id},
            </if>
            <if test="seller_id != null">
                #{seller_id},
            </if>
            <if test="goods_title != null">
                #{goods_title},
            </if>
            <if test="goods_stitle != null">
                #{goods_stitle},
            </if>
            <if test="goods_pic != null">
                #{goods_pic},
            </if>
            <if test="goods_url != null">
                #{goods_url},
            </if>
            <if test="goods_intro != null">
                #{goods_intro},
            </if>
            <if test="goods_price != null">
                #{goods_price},
            </if>
            <if test="goods_sale != null">
                #{goods_sale},
            </if>
            <if test="goods_cid != null">
                #{goods_cid},
            </if>
            <if test="commission_rate != null">
                #{commission_rate},
            </if>
            <if test="commission_type != null">
                #{commission_type},
            </if>
            <if test="coupon_id != null">
                #{coupon_id},
            </if>
            <if test="coupon_url != null">
                #{coupon_url},
            </if>
            <if test="coupon_price != null">
                #{coupon_price},
            </if>
            <if test="after_coupon != null">
                #{after_coupon},
            </if>
            <if test="coupon_condition != null">
                #{coupon_condition},
            </if>
            <if test="coupon_total != null">
                #{coupon_total},
            </if>
            <if test="coupon_rest != null">
                #{coupon_rest},
            </if>
            <if test="coupon_use != null">
                #{coupon_use},
            </if>
            <if test="coupon_start != null">
                #{coupon_start},
            </if>
            <if test="coupon_end != null">
                #{coupon_end},
            </if>
            <if test="is_tmall != null">
                #{is_tmall},
            </if>
            <if test="is_ju != null">
                #{is_ju},
            </if>
            <if test="is_qiang != null">
                #{is_qiang},
            </if>
            <if test="is_yun != null">
                #{is_yun},
            </if>
            <if test="is_gold != null">
                #{is_gold},
            </if>
            <if test="is_ji != null">
                #{is_ji},
            </if>
            <if test="is_hai != null">
                #{is_hai},
            </if>
            <if test="dsr != null">
                #{dsr},
            </if>
        </trim>
    </insert>

</mapper>