<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <settings>
        <!-- 启用懒加载，如下两个配置必须写 -->
        <setting name="lazyLoadingEnabled" value="true" />
        <setting name="aggressiveLazyLoading" value="false" />
    </settings>

    <!-- 设置类型别名 -->
    <typeAliases>
        <!--<typeAlias type="com.system.entity.AjaxParameter" alias="pars" />-->
        <typeAlias type="com.system.entity.SqlGoods" alias="goods" />
    </typeAliases>



</configuration>
